
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Unipi Labs</title>
    <link href="~/Images/UnipiLogo1.png" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="mynavbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>

                    <a href='@Url.Action("ViewLabAvailabilityAdmin", "LabAdmin")'>
                        <img src="~/Images/UnipiLogo1.png" class="img-center" height="50" width="60" />
                    </a>

                </div>

            </div>
            <div id="mynavbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="">
                    <li>@Html.ActionLink("Διαθεσιμότητα Εργαστηρίων", "ViewLabAvailabilityAdmin", "LabAdmin")</li>
                    <li>@Html.ActionLink("Επεξεργασία Χρηστών", "ViewUsersAdmin", "LabAdmin")</li>
                    <li class="btn-group nav">
                        <button type="button" class="btn navbar-btn" style="background-color:#000080; color:white">@ViewBag.UserName
                            
                        </button>
                            <button type="button" class="btn navbar-btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Επεξεργασία", "EditProfileAdmin")</li>
                                <li>@Html.ActionLink("Αποσύνδεση", "LogOut", "Home")</li>
                            </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Unipi Labs</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @RenderSection("scripts", required: false)
</body>
</html>

